﻿@model IEnumerable<ParseWeb.Data.ShopProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Parse">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Товар")
            </th>
            <th>
                @Html.DisplayName("Магазин")
            </th>
            <th>
                @Html.DisplayName("Ссылка")
            </th>
            <th>
                @Html.DisplayName("Цена")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { ProductId= item.ProductId, ShopId=item.ShopId}) |
                @Html.ActionLink("Details", "Details", new { ProductId= item.ProductId, ShopId=item.ShopId }) |
                @Html.ActionLink("Delete", "Delete", new { ProductId= item.ProductId, ShopId=item.ShopId })
            </td>
        </tr>
}
    </tbody>
</table>
<button type="submit">Спарсить цены</button>
</form>


